In [1]:
import requests
import pandas as pd
import json
from datetime import datetime, date
import os

In [4]:
DATA_URL = "https://raw.githubusercontent.com/ashraf356/cc4braininterview/main/restaurant_data.json"
r = requests.get(DATA_URL)
json_data = json.loads(r.text)

In [31]:
res_list = []
for i in json_data:
    try: # skip if restaurants is not a key
        for j in i['restaurants']:
            restaurant = j['restaurant']
            res_list.append({
                'user_aggregate_ratings': float(restaurant['user_rating']['aggregate_rating']),
                'user_rating_text' : restaurant['user_rating']['rating_text']
            })
    except KeyError:
        continue
df = pd.DataFrame(res_list)

In [32]:
df.head()

   user_aggregate_ratings user_rating_text
0                     4.3        Very Good
1                     4.5        Excellent
2                     4.4        Very Good
3                     4.1        Very Good
4                     4.4        Very Good

In [39]:
rating_threshold = df.groupby('user_rating_text').agg({'user_aggregate_ratings': [min, max]})
rating_threshold

                 user_aggregate_ratings
                                    min  max
user_rating_text
Average                             2.5  3.4
Excellent                           4.5  4.9
Good                                3.5  3.9
Not rated                           0.0  0.0
Poor                                2.2  2.4
Very Good                           4.0  4.4

In [37]:
rating_threshold.sort_values()

TypeError: sort_values() missing 1 required positional argument: 'by'